@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  --loader-color: blue;
  --loader-bg-color: rgba(255, 255, 255, 0.4);
}

.main-container {
  max-width: 1400px;
  margin-inline: auto;
  padding-left: 15px;
  padding-right: 15px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;

}

::-webkit-scrollbar-track {
  background: transparent;
  margin-right: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 50px;
  /* text-transform: ; */
  margin-right: 2px;
}
@layer base {
  .main-container {
      @apply px-2 md:px-10 lg:px-10
  }

  label {
      @apply flex flex-col
  }

  input, select {
      @apply bg-transparent border p-2  w-full  rounded-md   focus:outline-blue-500 outline-none px-2 text-base placeholder:text-base placeholder:text-white font-medium duration-300 border-cyan-500  text-white flex-1
      
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: blue;
  width: 60px;
  padding: 5px;
  height: 60px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  border: 2px solid gray;
  border-radius: 50%;
  transform: scale(0.7);
}

.swiper-pagination-bullet {
  background: red;
}

.blob {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url("/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(20px);
}

.registerBg {
  background: url("/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Loader, HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  --b: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--loader-color);
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l5 1s infinite;
}
.loaderWindow {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  background-color: var(--loader-bg-color);

  transition: 0.2s;
}

@keyframes l5 {
  to {
    transform: rotate(0.5turn);
  }
}
@media screen and (min-width:1480px) {
  .main-container {
      padding-left: 0;
      padding-right: 0;
  }
}
